body {
    display: flex;
    justify-content: center;
}

main {
    max-width: 1200px;
    width: 100%;

    display: grid;
    gap: 1rem;

    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));

    /* repeat */
    /* minmax */
    /* auto-fit / auto-fill */
}

main > div {
    height: 300px;
    background-color: rgb(218, 112, 112);
}

main > div:nth-child(2n) {
    background-color: rgb(119, 226, 230) !important;
}